

.field{
    height: 420px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 405px;
}
.block{
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 90px;
    background-color: #cdc1b5;
    height: 90px;
}